@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-xs: 25rem;

  --color-primary-50: var(--color-indigo-50);
  --color-primary-100: var(--color-indigo-100);
  --color-primary-200: var(--color-indigo-200);
  --color-primary-300: var(--color-indigo-300);
  --color-primary-400: var(--color-indigo-400);
  --color-primary-500: var(--color-indigo-500);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-900: var(--color-indigo-900);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.libre-baskerville-regular {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
}

.loader {
  width: 3em;
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
}

p,
h4,
div,
table {
  font-size: 14px;
}

h2 {
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

.smaller-text {
  font-size: 12px;
}

.inner-shadow-lg {
  box-shadow: inset 0 0 3px #bbbbbb;
}

p.wrapper {
  font-size: 12px;
}

p.due-date {
  font-size: 12px;
}

.text-small {
  font-size: 11px;
}

.input-primary {
  @apply focus:border-primary-500 w-full rounded-lg border border-gray-300 bg-white p-2 text-sm shadow-xs transition-all duration-200 outline-none placeholder:text-sm placeholder:text-white/50;
}

.btn-primary {
  @apply bg-primary-500 hover:bg-primary-600 mt-4 rounded-lg py-3 font-medium text-white transition-all duration-300;
}

.label-primary {
  @apply text-primary-400 mb-1 font-semibold;
}

.container-secondary {
  @apply rounded-md bg-gray-50 p-4 shadow-sm;
}

.sidebar {
  min-width: 20rem;

  &.collapsed {
    display: none;
  }
}

@media (width > 768px) {
  .sidebar {
    transition: all 0.1s;
    min-width: 14rem;

    &.collapsed {
      display: block;
      min-width: 4rem;

      p,
      .add-project,
      #usersDropdown,
      #projectsDropdown,
      #inviteForm {
        display: none;
      }
    }
  }
}
