@import 'tailwindcss';

@theme {
  --breakpoint-xs: 25rem;
}

.libre-baskerville-regular {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
}

/* body {
  background: no-repeat url("../assets/img/dark-theme-background-q62o6998n8bqxzrf.jpg");
} */